<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <h1 class="title">logo</h1>
    <header class="header">
        <nav aria-label="primaria">
            <ul class="menu">
                <li><a href="">sobre</a></li>
                <li><a href="">produtos</a></li>
                <li><a href="">lojas</a></li>
                <li><a href="">contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="conteudo">
        <div class="introducao">
            <h1>Bicicleta Mais Leve do Mercado</h1>
            <p>A f123 é a melhor bike já criada pela nossa equipe.
                Ela vem equipada com os melhores acessórios da marca.
            </p>
            <a class="button" href="">Ver Mais</a>
        </div>

        <img class="bike" src="/img/bicicleta.jpg" alt="Bicicleta Preta">

        <h2 class="subtitulo">Vantagens de comprar nossos produtos </h2>

        <div class="vantagem">
            <div class="vantagem-item">
                <img src="/img/eletrica.svg" alt="">
                <h3>Motor Elétrico</h3>
                <p>Permite você viajar distancias inimaginaveis com a sua bike.</p>
            </div>
            <div class="vantagem-item">
                <img src="/img/velocidade.svg" alt="">
                <h3>40 km/h</h3>
                <p>A bicicleta mais rapida do mercado.</p>
            </div>
            <div class="vantagem-item">
                <img src="/img/rastreador.svg" alt="">
                <h3>Rastreador</h3>
                <p>Rastreador e sistema anti-furto para garantir a sua tranquilidade.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p> Direitos Reservados.</p>
    </div>
</body>

</html>